<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <h3 class="text-center my-3">Editar Asegurado</h3>
    <div class="card mb-5">
      <div class="card-body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="numeroIdentificacion" class="form-label"
              >Número de Identificación</label
            >
            <input
              id="numeroIdentificacion"
              formControlName="numeroIdentificacion"
              class="form-control"
              type="text"
            />
          </div>

          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label for="primerNombre" class="form-label"
                  >Primer Nombre</label
                >
                <input
                  id="primerNombre"
                  formControlName="primerNombre"
                  class="form-control"
                  type="text"
                />
                <div
                  *ngIf="
                    editForm.get('primerNombre')?.invalid &&
                    editForm.get('primerNombre')?.touched
                  "
                  class="text-danger"
                >
                  El primer nombre es obligatorio.
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label for="segundoNombre" class="form-label"
                  >Segundo Nombre</label
                >
                <input
                  id="segundoNombre"
                  formControlName="segundoNombre"
                  class="form-control"
                  type="text"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label for="primerApellido" class="form-label"
                  >Primer Apellido</label
                >
                <input
                  id="primerApellido"
                  formControlName="primerApellido"
                  class="form-control"
                  type="text"
                />
                <div
                  *ngIf="
                    editForm.get('primerApellido')?.invalid &&
                    editForm.get('primerApellido')?.touched
                  "
                  class="text-danger"
                >
                  El primer apellido es obligatorio.
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label for="segundoApellido" class="form-label"
                  >Segundo Apellido</label
                >
                <input
                  id="segundoApellido"
                  formControlName="segundoApellido"
                  class="form-control"
                  type="text"
                />
                <div
                  *ngIf="
                    editForm.get('segundoApellido')?.invalid &&
                    editForm.get('segundoApellido')?.touched
                  "
                  class="text-danger"
                >
                  El segundo apellido es obligatorio.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label for="telefonoContacto" class="form-label"
                  >Teléfono de Contacto</label
                >
                <input
                  id="telefonoContacto"
                  formControlName="telefonoContacto"
                  class="form-control"
                  type="text"
                />
                <div
                  *ngIf="
                    editForm.get('telefonoContacto')?.invalid &&
                    editForm.get('telefonoContacto')?.touched
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="editForm.get('telefonoContacto')?.errors?.['required']"
                  >
                    El teléfono es obligatorio.
                  </div>
                  <div
                    *ngIf="editForm.get('telefonoContacto')?.errors?.['pattern']"
                  >
                    El teléfono debe tener exactamente 10 dígitos.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="mb-3">
                <label for="correoElectronico" class="form-label">Correo Electrónico</label>
                <input
                  id="correoElectronico"
                  formControlName="correoElectronico"
                  class="form-control"
                  type="email"
                />
                <div
                  *ngIf="
                    editForm.get('correoElectronico')?.invalid &&
                    editForm.get('correoElectronico')?.touched
                  "
                  class="text-danger"
                >
                  <div *ngIf="editForm.get('correoElectronico')?.errors?.['required']">
                    El correo electrónico es obligatorio.
                  </div>
                  <div *ngIf="editForm.get('correoElectronico')?.errors?.['email']">
                    Debe ingresar un correo electrónico válido.
                  </div>
                  <div *ngIf="editForm.get('correoElectronico')?.errors?.['pattern']">
                    El correo electrónico debe ser de los dominios permitidos: gmail.com, hotmail.com, yahoo.com, outlook.com.
                  </div>
                </div>
              </div>
            </div>
            
          </div>

          <div class="mb-3">
            <label for="fechaNacimiento" class="form-label"
              >Fecha de Nacimiento</label
            >
            <input
              id="fechaNacimiento"
              formControlName="fechaNacimiento"
              class="form-control"
              type="date"
            />
            <div
              *ngIf="
                editForm.get('fechaNacimiento')?.invalid &&
                editForm.get('fechaNacimiento')?.touched
              "
              class="text-danger"
            >
              La fecha de nacimiento es obligatoria.
            </div>
          </div>

          <div class="mb-3">
            <label for="valorEstimadoSeguro" class="form-label"
              >Valor Estimado del Seguro</label
            >
            <input
              id="valorEstimadoSeguro"
              formControlName="valorEstimadoSeguro"
              class="form-control"
              type="number"
            />
            <div
              *ngIf="
                editForm.get('valorEstimadoSeguro')?.invalid &&
                editForm.get('valorEstimadoSeguro')?.touched
              "
              class="text-danger"
            >
              <div
                *ngIf="editForm.get('valorEstimadoSeguro')?.errors?.['required']"
              >
                El valor estimado es obligatorio.
              </div>
              <div *ngIf="editForm.get('valorEstimadoSeguro')?.errors?.['min']">
                El valor estimado debe ser un número positivo.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="observaciones" class="form-label">Observaciones</label>
            <textarea
              id="observaciones"
              formControlName="observaciones"
              class="form-control"
            ></textarea>
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="editForm.invalid"
          >
            Actualizar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
